.workspace {
  margin-top: 120px;
  position: relative;

  h2,
  p {
    text-align: center;
  }

  h2 {
    font-size: 36px;
  }

  p {
    margin: 20px 0 64px 0;
    color: #656360;
  }

  .gallery {
    display: flex;
  }

  .left {
    padding-right: 0;
  }

  .right {
    padding-left: 0;
  }

  .right-1,
  .right-2 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
  }

  .right-1 {
    background-image: url('../assets/terms.jpg');
  }

  .right-2 {
    background-image: url('../assets/amenities.jpg');
  }
}

.view-photos {
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  color: #91683d;
  right: 30px;
  bottom: 12px;
  padding: 12px 16px;
  display: none;
}

.slider-mobile {
  display: block;
  padding: 0 50px;
  background: #e3e1e2;
  
  .slick-dots li button:before {
    font-size: 12px;
    cursor: pointer;
  }

  .slick-next:before, .slick-prev:before {
    display: none;
  }
}

.gallery-overview {
  display: none !important;

  img {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .slider-mobile {
    display: none;
  }

  .gallery-overview {
    display: flex !important;
  }

  .view-photos {
    display: inline-block;
  }
}
