.features {
  .item {
    margin-bottom: 100px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    max-width: 400px;
    color: #656360;
  }

  a {
    color: #91683d;
    border-bottom: 1px solid #91683d;
    padding-bottom: 10px;
    margin-top: 20px;
    display: inline-block;
  }
}

.amenity-desc {
  margin-bottom: 40px;
}

.features-amenity {
  flex-direction: column-reverse
}

.features-term {
  margin-bottom: 0 !important;
}

@media (min-width: 768px) {
  .amenity-desc {
    margin-bottom: 0;
  }

  .features-amenity {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .features {
    .focus-desc,
    .terms-desc {
      padding-left: 100px;
    }
  }
}
