.price-banner {
  padding: 70px 15px;

  h1 {
    font-size: 44px;
    color: #000;
    text-align: center;
  }

  p {
    font-size: 20px;
    text-align: center;
  }
}

@media(min-width: 768px) {
  .price-banner {
    padding: 150px 15px;
  }
}