.gallery {
  max-width: 500px;
  margin: auto;

  img {
    margin: auto;
  }

  .slider1 {
    .slick-next:before, .slick-prev:before {
      font-size: 70px;
    }
    .slick-prev {
      left: -100px;
    }
    .slick-next {
      right: -50px;
    }
  }

  .slider2 {
    .slick-slide {
      opacity: 0.5;
    }
    .slick-current.slick-active {
      opacity: 1;
    }

    .slick-next, .slick-prev {
      display: none !important;
    }
  }
}

.modal-gallery {
  background-color: #000;

  .close {
    color: #fff;
  }
}

@media(min-width: 992px) {
  .gallery {
    max-width: 800px;
    .slider1 {
      .slick-prev {
        left: -50px;
      }
    }
  }
}