.banner {
  margin-top: 140px;
  h1 {
    font-size: 44px;
    font-weight: 600;
  }

  &__book {
    border-radius: 4px;
    background-color: #91683d;
    padding: 16px 32px;
    color: #fff;
    margin-right: 20px;
    display: inline-block;
  }

  &__pricing {
    color: #91683d;
    border-bottom: 1px solid #91683d;
    padding-bottom: 10px;
    display: inline-block;
  }

  p {
    margin-top: 20px;
    margin-bottom: 48px;
    color: #656360;
    font-size: 20px;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 0;
  }

  &__img {
    margin-top: 48px;
  }
}

@media(min-width: 768px) {
  .banner {
    margin-top: 100px;
  }

  .banner__img {
    margin-top: 0;
  }
}

@media(min-width: 992px) {
  .banner__book {
    margin-right: 48px;
  }

  .banner .left {
    padding-right: 100px;
  }
}