.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  &__logo {
    font-size: 24px;
  }

  &__pricing {
    margin: 0 28px;
  }

  &__book {
    background-color: #91683d;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
  }
  img {
    cursor: pointer;
  }
}
