.footer {
  background-color: #312f2d;
  color: #fff;
  padding: 80px 0;

  p {
    color: #fff;
  }

  h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .footer {
    .col-md-4 {
      padding: 0 50px;
    }

    .col-md-4:first-child {
      padding-left: 15px;
    }
  }
}
